@{
    ViewData["Title"] = "Сократи ссылку!";
}

<div class="text-center">
    <div class="card-header bg-dark bg-opacity-50 text-white fw-bold rounded-3 border-2 border-light border">
        Сократи ссылку!
    </div>
    <div class="m-5">
        <form>
            <input class="container-fluid text-center" type="text" name="link-to-short"/>
            <button class="btn btn-dark m-3 border-light border-2" type="submit">Сократить</button>
        </form>
    </div>
</div>