@model LinkShortener.Api.Models.CreateLinkModel
@{
    ViewData["Title"] = "Сократи ссылку!";
    Layout = "_Layout";
}

<div class="text-center">
    <div class="card-header bg-dark bg-opacity-50 text-white fw-bold rounded-3 border-2 border-light border">
        Сократи ссылку!
    </div>
    <div class="m-5">
        <p class="text-white">@ViewBag.IsSuccess</p>
        <form asp-action="CreateLink" asp-controller="Home" method="post">
            <span class="text-danger" asp-validation-for="Link"></span>
            <input class="container-fluid text-center" type="text" asp-for="Link"/>
            <button class="btn btn-dark m-3 border-light border-2" type="submit">Сократить</button>
        </form>
    </div>
</div>